<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="top::menu"></div>
<style>
    p{
    color:red;
    }
</style>
<body>
<h2 style="text-align:center">자료 입력</h2>
<form th:action="@{/signup}" method="post" modelAttribute="MemberDTO" th:object="${MemberDTO}">
<table border="1" align="center">
  <tr>
      <th>아이디</th>
      <td>
          <input type="text" name="m_id" value="dnsgkr">
      </td>
  </tr>

    <tr>
        <th>비밀번호</th>
        <td>
            <input type="text" name="m_pw" value="1234">
        </td>
    </tr>

    <tr>
        <th>닉네임</th>
        <td>
            <input type="text" name="m_nick" value="이운">
        </td>
    </tr>

    <tr>
        <th>이름</th>
        <td>
            <input type="text" name="m_name" value="이운학">
        </td>
    </tr>

    <tr>
        <th>이메일</th>
        <td>
            <input type="text" name="m_mail" value="dldnsgkr@naver.com">
        </td>
    </tr>

    <tr>
        <th>전화번호</th>
        <td>
            <input type="text" name="m_tel" value="01012341234">
        </td>
    </tr>

    <tr>
        <th>과목</th>
        <td>
            <input type="text" name="m_field" value="프론트앤드">
        </td>
    </tr>

    <tr>
        <th>등급</th>
        <td>
            <input type="text" name="m_grade" value="회원">
        </td>
    </tr>
  <tr><td><input type="submit" value="전송"></td></tr>
</table>
    </form>
</body>

</html>